
<div>
    <form asp-controller="Home" asp-action="HTMLToPdf" method="post">
        <label>Create file from html to pdf</label>
        <input type="text" placeholder="Enter name of file" name="fileName" />
        <button type="submit">Create</button>
    </form>
</div>